* {
    box-sizing: border-box;
    margin: 0 auto;
    
}

body {
    --background-color: #f2f2f2;
    --container-color: white;
    --container-accent-color: var(--background-color);
    --font-color: black;
    --btn-accent-color: #333;
    --text-accent-color: #008000;
    --box-shadow:  1px 1px 4px  #d3d3d3;
    --light-switch-icon-width: 25px;
    --border-color: #494848;

    background-color: var(--background-color);
    color: var(--font-color);
    max-width: 900px;
    
}

body.dark{
    --background-color: #272727;
    --container-color: #333;
    --container-accent-color: var(--background-color);
    --font-color: #d4d4d4;
    --border-color: var(--font-color);
    --btn-accent-color: var(--font-color);
    --text-accent-color: #cb9068;
    --box-shadow: none;
    --light-switch-icon-width: 20px;
}


#hero {
    display: flex;
    height: 500px;
    margin: 3rem auto;

    border: 2px solid;
    border-radius: 10px;
    border-color: transparent;

    font-family: "Poppins", sans-serif;
    background-color: var(--container-color);
}

#top-navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin: 20px 0;

}

#top-left {
    font-family: 'Poppins';
    font-size: 2.2em;
    font-weight: bold;
    font-style: italic;
    color: var(--text-accent-color);

    position: relative;
    right: 3rem;
    bottom: 4px;
}

#top-right {
    display: flex;
}

#top-right li {
    list-style: none;
    
    padding-right: 18px;

    font-weight: 700;
    font-size: 1.3em;
    font-family: "ABC Diatype Thin";
    font-variant-caps: all-small-caps;
    
    
}

.nav-links:active, .nav-links:link, .nav-links:visited{
    color: var(--font-color);
    text-decoration: none;
}

.drop-down-btn {
    position: relative;
    width: 40px;
    height: 40px;
    left: 100%;

    display: flex;
    justify-content: center;

    background-color: transparent;
    border-radius: 100%;
    border: 1px solid var(--border-color);
    cursor: pointer;

    transition: all .2s ease-in-out;
}


.drop-down-btn:hover{
    background-color: var(--container-color);
    transition: all .2s ease-in-out;
}

.light-mode {
    margin: auto;
    width: var(--light-switch-icon-width);
    cursor: pointer;
    background-color: transparent;
    border: none;
}




